body{
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin: 0%;    
}
.s-one-h1{
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: 40px;
    padding-left: 300px;
    padding-right: 300px;  
}
.s-one-p{
    color: rgb(209, 62, 62);
    text-align: center;
    font-size: 27px;
    padding-left: 200px;
    padding-right: 200px;
}  
.section-one{
    background-image: url(images/pexels-ian-turnell-709542.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    padding: 50px 100px 200px;          
}
.div-anchor{
    text-align: center;
}
.anchor{    
    text-decoration: none;    
    color: rgb(241, 233, 233);
    background-color:rgb(209, 62, 62);
    padding: 9px 20px 9px; 
    border-radius: 9px;           
}
.section-two{
    padding: 50px 100px 200px;    
    text-align: center;
}
.section-two h1{
    font-size: 70px;
}
.s-two-p{
    font-size: 29px;
}
.div-section-two-two{
    display: flex;
    font-size: 40px;
}
.div-section-two-two p{    
    width: 50%;
    text-align: center;            
}
.donate-taka-same-all{
    box-shadow: 10px 3px 8px black;
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 30px;
    margin-right: 30px;
 }
.donate-taka-different{
    box-shadow: 10px 3px 8px rgb(228, 116, 116);
    border: 3px solid rgb(228, 116, 116);
    border-radius: 7px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(235, 222, 222);
    color: rgb(238, 140, 107);
}
.div-section-two-three h3{
    margin-bottom: 0%;       
}
.section-three{
    padding: 50px 100px 200px;
}
.section-three h1{
    font-size: 50px;
    text-align: center;
}
.s-three-p{
    font-size: 20px;
    text-align: center;
}
.section-three-container{
    display: flex;       
}
.con-one{
    background-color: rgb(160, 168, 165);    
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    text-align: left;
    padding-left: 10px;
}
.con-two{
    background-color: rgb(238, 148, 203);    
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    text-align: left;
    padding-left: 10px;
}
.con-three{
    background-color: rgb(223, 224, 127);    
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    text-align: left;
    padding-left: 10px;
}